{% extends 'base.html' %}
{% block head %}
<script type='text/javascript' src='{{ STATIC_URL }}js/marker_clusterer.js'></script>
<script type='text/javascript'>
    google.load('maps', '3', {other_params: "sensor=true"});
    $(document).ready(function(){
            var health_centers;
            var ratings;
            var markers = new Array();
            var mcOptions;
            var markerCluster;

            var center = new google.maps.LatLng(17, 78);
            var mapOptions = {zoom: 7, center: center, mapTypeId: google.maps.MapTypeId.ROADMAP };
            var map = new google.maps.Map(document.getElementById("map"),
                mapOptions);

            $.getJSON('{% url get-health-centers hctype.id %}', function(data){
                health_centers=data;

                for (i=0; i<health_centers.length; i++){
                var latlng = new google.maps.LatLng(health_centers[i].fields.latitude, health_centers[i].fields.longitude)
                var marker = new google.maps.Marker({ position: latlng, title: health_centers[i].name})
                markers.push(marker);
                }
                mcOptions = {gridSize: 50, maxZoom: 15};
                markerCluster = new MarkerClusterer(map, markers, mcOptions);
                });
            $.getJSON('{% url get-ratings hctype.id %}', function(data){
                ratings=data;
                });
            });
</script>
{% endblock %}
{% block content  %}
<h3>Rating of Health Centers</h3>
<div>
    <div style='width:800px; height:500px; border: solid 2px #000;' id='map'></div>
    <div style='position:absolute; top:150px; right:200px;'>
        <ul>
            {% for rc in rating_criterias %}
            <li><a href='#'>{{ rc.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
