{% extends 'base.html' %}
{% block head %}
<script type='text/javascript' src='{{ STATIC_URL }}js/markerclusterer.js'></script>
<script type='text/javascript'>
    google.load('maps', '3', {other_params: "sensor=true"});
    $(document).ready(function(){
            var health_centers;
            var ratings;
            var markers = new Array();
            var mcOptions;
            var markerCluster;

            var center = new google.maps.LatLng(17, 78);
            var image = '{{ STATIC_URL }}img/hospital_icon.jpg'
            var mapOptions = {zoom: 7, center: center, mapTypeId: google.maps.MapTypeId.ROADMAP };
            var map = new google.maps.Map(document.getElementById("map"),
                mapOptions);

            $.getJSON('{% url get-health-centers hctype.id %}', function(data){
                health_centers=data;

                $.getJSON('{% url get-ratings hctype.id 0 %}', function(data){
                    ratings=data;
                    count = health_centers.length
                    for (i=0; i<count; i++){
                var latlng = new google.maps.LatLng(health_centers[i].fields.latitude, health_centers[i].fields.longitude)
                var marker = new google.maps.Marker({ position: latlng, icon: image, title: "Rating - " +String(ratings[1][i]) + ", Hospital -" + health_centers[i].fields.name})
                marker.value = ratings[1][i];
                marker.min_value = ratings[0].min_value
                marker.max_value = ratings[0].max_value
                markers.push(marker);
                }
                mcOptions = {gridSize: 50, maxZoom: 15};
                markerCluster = new MarkerClusterer(map, markers, mcOptions);
                markerCluster.setCalculator(calculate_average);
                });
                });

            function calculate_average(markers, numStyles){
                var index = 0;
                var count = markers.length;
                var min = markers[0].min_value;
                var max = markers[0].max_value
                var sum = 0.0;
                for (i=0; i<count; i++){
                    sum += markers[i].value;
                }
                var avg = sum/count;
                avg = avg.toFixed(1);
                var dv = (avg-min)/(max-min);
                if (dv< 0.33333)
                    index=0;
                else if (dv < 0.66666)
                    index=1;
                else
                    index=2;

                index = Math.min(index, numStyles);

                return {text:avg, index:index};
            };
            });
</script>
{% endblock %}
{% block content  %}
<h3>Rating of Health Centers</h3>
<div>
    <div style='width:800px; height:500px; border: solid 2px #000;' id='map'></div>
    <div style='position:absolute; top:150px; right:200px;'>
        <ul>
            {% for rc in rating_criterias %}
            <li><a href='#' rc_id='{{ rc.id }}'>{{ rc.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
